<div class="container">

  EmployeeList Demo works!

</div>
<div class="container">
  <table>
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of list">
        <td (click)="getEmployeeById(employee.id)" style="cursor:pointer; text-decoration:underline">{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">

  {{ emp }}

</div>