<div class="col-md-4 col-md-offset-4">
  <form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Login</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" 
              for="username">
              Name
      </label>  
      <div class="col-md-8">
      <input id="username" 
              ngModel 
              #username="ngModel"
              name="username" 
              type="text" 
              placeholder="username" 
              class="form-control input-md" 
              (change)="log(username)"
              required
              minlength="6">
        <div class="alert alert-danger" 
              *ngIf="username.touched && !username.valid">
              username is required!!!
        </div>
        <div class="alert alert-danger" 
              *ngIf="username.errors?.minlength">
              min length should be {{username.errors.minlength.requiredLength}}
        </div>
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwd">Password</label>
      <div class="col-md-8">
        <input id="passwd" 
                ngModel
                #passwd="ngModel"
                name="passwd" 
                type="password" 
                placeholder="*******" 
                class="form-control input-md"
                minlength="6"
                maxlength="18"
                pattern="[0-9a-zA-Z]*" 
                required>
        <div class="alert alert-danger"
              *ngIf="passwd.errors?.pattern">
              pattern doesn't match! required pattern should be alphanumric
        </div>
        <div class="alert alert-danger"
              *ngIf="passwd.errors?.minlength">
              min length should be 6
        </div>
        <!-- <div class="alert alert-danger"
              *ngIf="passwd.errors?.maxlength">
              max length should be exceed 18
        </div> -->
      </div>
    </div>
    
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label"  
              for="login">
      </label>
      <div class="col-md-8">
        <button id="login" 
                name="login" 
                type="submit"
                class="btn btn-primary"
                (click)="login()">
                Login
        </button>
        <button id="register" 
                name="register"
                type="submit" 
                class="btn btn-inverse"
                (click)="registerNewUser()">
                Register
        </button>
      </div>
    </div>
    
    </fieldset>
  </form>

  </div>